.page-header {
  background-color: #00c;
    height: 30vw;
    margin-top: 0;

    #hero {
        @include align-fully-centered;
    }

    h1 {
        color: white;
        font-size: 6.5vw;
    }

    small {
        color: black;
    }
}
